.farm-home{
    background-image: url(../img/farm:house.jpg);
    background-repeat: no-repeat;
    background-size: 50%;

    .farm-home__content{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        
        .farm-home__box{
            background-color: #fff;
            padding: 40px 40px 55px 60px;
            border-radius: 30px 0px 0px 30px;
            position: relative;
            left: 300px;
            h3{
                @include titel-yell;
            }
            h4{
                @include title-stak;
                padding-bottom: 30px;
            }
            h5{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 32px;
                letter-spacing: 0.36px;
                text-transform: capitalize;
                color: #274C5B;
                padding-bottom: 10px;
            }
            p{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.36px;
                color: #525C60;
                padding-bottom: 10px;
            }
        }

    }
}
