.offer{
    background-color: #274C5B;
    .offer__titel{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        .offer__titel-text{
            h3{
                @include titel-yell;
            }
            h4{
                @include title-stak;
            }
        }
    }
}