.subscribe{
    padding-top: 100px;
    padding-bottom: 50px;
    .subscribe__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(../img/subscribebg.jpg);
        padding: 100px 70px;
        h3{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.36px;
            text-transform: capitalize;
            color: #FFFFFF;
        }

        .subscribe__content-form{
            display: flex;
            align-items: center;
            input{
                padding: 27px 101px 27px 30px;
                border-radius: 16px;
                border: none;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.36px;
                color: #525C60;
            }
        }   .subscribe__content-form-btn{
            padding-left: 10px;
            a{
                padding: 27px 71px 27px 36px;
                background-color: $main-color;
                border-radius: 16px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.36px;
                color: #FFFFFF;
            }
        }

    }
}